body{
    font-size: 16px;
    line-height: 1.6;
    font-weight: normal;
    color: #000;
    font-family:-apple-system, BlinkMacSystemFont, "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    background-color: #fff;
}

a:visited, a:link{
    color: #4c4747;
    text-decoration: none;
}


/* a:hover, a:active{
    color: #ccc;
    text-decoration: none;
} */

a:hover, a:active{
    color: orange;
    text-decoration: none;
}

.current a{
    color:orange;
}


.clone-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  transition: .3s;
  transform: translateY(-100%);
  }

  .is-show {
  transform: translateY(0);
  }


header nav{
  background-color: rgba(255,255,255,0.95);
  border-bottom: solid 1px #b5b3b3;
  /* display: none; */
}


header nav .container{
    width: 900px;
    height: 64px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header nav ul{
    width: 100%;
    /* height: 64px; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    /* margin-right: 1000px; */
}

header nav ul li{

}

header nav ul a{
    display: block; /* リンク領域を広げる */
    /* height: 64px; */
    /* line-height: 4.4; */
    padding: 0 1px;
    font-family: "Rounded Mplus 1c";
    font-size: 13px;
    font-weight: 500;
    color: #4c4747;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

/* #top h1{
  width: 130px;
  height: 60px;
  background-color: #FFF;
  margin: 50px auto 14px;
  transform: translateX(-20px);
} */

.webimg h2{
    width: auto;
    height: 100%;
    background-color: #FFF;
    text-align: center;
    margin: 80px auto 5px;
}

.respimg h2{
    display: none;
}


#email i{
  font-size: 14px;
  padding-top: 3.5px;
}

/* レスポンシブ用ヘッダーのアイコン-------------------*/

.mobile-text{
    font-family: "Rounded Mplus 1c";
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin-left: 10px;
    display: none;
    left: 20px;
    top: 12px;
    position: absolute;
}

.mobile-text a{
  text-decoration: none;
  color: #4c4747;
}

.mobile-img{
  right: 25px;
  top: 8px;
  display: none;
  position: absolute;
  z-index: 200;
}

.mobile-menu img{
  width: 35px;
  height: auto;
}

.mobile-close{
  display: none;
  position: absolute;
  right: 25px;
  top: 8px;
}

.mobile-close img{
  width: 35px;
  height: auto;
}


.sub_resp{
  display: none;
}

/* スマホ用ヘッダー */
@media (max-width: 767px){
  header{
    /* margin-top: -55px; */
  }

  .clone-nav{
    display: none;
  }

  .beforeopen{
    width: 100%;
    height: 55px;
    background-color: #fff;
    position: fixed;
    z-index: 100;
    border-bottom: solid 1px #b5b3b3;

  }

  .mobile-text{
    display: block;
  }

  .mobile-img{
    display: block;
  }

  header h1{
    display: none;
  }

  header nav{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 0s, ease 1s;
  }

  header nav.mobile-menu-open{
    transition-delay: 0s;
    visibility: visible;
    opacity: 1;
  }

  header nav .container{
    width:100%;
    height: 100vh;
    margin: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }

  .mobile-close{
    display: block;
    z-index: 150;
  }

  header nav ul{
    width: 100%;
    height: auto;
    text-align: left;
    display: block;
    margin-top: 100px;
    padding: 50px 50px 50px;
  }

  header nav ul li.current a{
    border-bottom: none;
  }

  a:hover, a:active{
    text-decoration: none;
  	opacity: 0.7;
  }

  #nav-open {
    display:none;
  }

  .sublist{
    display: none;
  }

  .sub_resp{
    display: block;
    margin-top: 0px;
    padding: 20px 0 0 15px;
  }

  .sub_resp a{
    font-weight: 400;
    font-size: 15px;
  }

  ul.sub{
    padding-top: 0px;
  }

  header nav ul{
    padding: 10px 50px 130px;
  }

  header nav ul li{
    padding-bottom: 20px;
  }

  header nav ul li.subconcert{
    padding-bottom: 0px;
  }

  header nav ul li.subnagayama{
    padding-bottom: 0px;
  }

  header nav ul li a{

    font-size: 16px;

  }

  .webimg h2{
    display: none;
  }

  .respimg h2{
    display: block;
    margin: 0px 15px 0px;
    /* width: 100%; */
    height: auto;
    padding-top: 110px;
  }

  .respimg img{
    width: 100%;
  }

  #email i{
    font-size: 17px;
    padding-top: 3.5px;
  }


}

/* INTRODUCTION ----------------*/

#overview{
  background-color: rgb(240,239,239);

}

.overviewdiv{
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  margin: 20px auto;
  margin-top: 90px;
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 900px;
}

.overviewleft{
  /* margin-left: 300px; */
  margin-right: 70px;
}

.overviewleft h2{
    font-family: "Rounded Mplus 1c";
    font-size: 22px;
    font-weight: 500;
    color: #4c4747;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

.overviewleft h3{
  margin-top: 20px;
  line-height: 1.8em;
}

.overviewimg img{
  /* margin-right: 300px; */
  padding-top: 50px;
}

#partner{
  background-color: rgb(255, 255, 255);
}

.partnerdiv{
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  margin: 20px auto;
  /* margin-top: 90px; */
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 900px;
}

.partnerimg img{
  /* margin-le: ;ft: 300px; */
  margin-left: 70px;
  margin-top: 10px;
}

.partnerright{
  /* margin-right: 300px; */
  margin-left: 70px;
}

.partnerright h2{
    font-family: "Rounded Mplus 1c";
    font-size: 22px;
    font-weight: 500;
    color: #4c4747;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

.partnerright h3{
  margin-top: 20px;
  line-height: 1.8em;
}

.partnerright img{
  width: auto;
  height: 30px;
  padding-right: 10px;
  /* padding-top: 15px; */
  margin-bottom: -10px;
}

.partnerlink{
  margin-bottom: -10px;
}

/* スマホ introduction */
@media (max-width: 767px){
  .overviewdiv{
    margin-left: 15px;
    margin-right: 15px;
    display: block;
    margin-top: 55px;
    padding-top: 55px;
    padding-bottom: 70px;
    margin-bottom: 0;
  }

  .overviewleft{
    margin-right: 0;
  }

  .overviewleft h3{
    font-size: 14px;

  }

  .overviewimg{
    text-align: center;
  }

  .overviewimg img{
    padding-top: 30px;
    width: 100%;

  }


  .partnerdiv{
    flex-direction: column-reverse;
    margin-left: 15px;
    margin-right: 15px;
    /* display: block; */
    padding-top: 55px;
    padding-top: 55px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 70px;
  }

  .partnerright{
    margin-left: 15px;
  }

  .partnerimg{
    text-align: center;
  }

  .partnerimg img{
    margin-left: 0px;
    margin-top:40px;
    width: 100%;

  }

  .partnerright h3{
    font-size: 14px;
  }

  .partnerright img{
    margin-bottom: -5px;
    height: 20px;
  }





}


/* INTRODUCTION2 Nagayama------------------------------------ */

#otani{
  background-color: rgb(240,239,239);

}

.otanidiv{
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  margin: 0px auto 20px;
  /* margin-top: 90px; */
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 900px;
}

.otanileft{
  /* margin-left: 300px; */
  margin-right: 70px;
}

.otanileft h2{
    font-family: "Rounded Mplus 1c";
    font-size: 22px;
    font-weight: 500;
    color: #4c4747;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

.otanileft h3{
  /* margin-top: 20px; */
  line-height: 1.8em;
}

.otanitext{
  /* font-style: italic; */
  font-size: 15px;
  letter-spacing: 0.2rem;

}

.otaniname{
  text-align: right;

}

.otaniimg img{
  /* margin-right: 300px; */
    /* padding-top: 20px; */
}

#nagayama{
  background-color: rgb(255, 255, 255);
}

.nagayamadiv{
  margin-left: 200px;
  margin-right: 200px;
  display: flex;
  margin: 20px auto;
  /* margin-top: 90px; */
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 900px;
}

.nagayamaimg img{
  /* margin-le: ;ft: 300px; */
  /* margin-left: 300px; */
  margin-top: 90px;
}

.nagayamaright{
  /* margin-right: 300px; */
  margin-left: 70px;
}

.nagayamaright h2{
    font-family: "Rounded Mplus 1c";
    font-size: 22px;
    font-weight: 500;
    color: #4c4747;
    letter-spacing: 0.1rem;
    text-decoration: none;

}

.nagayamaright h3{
  margin-top: 20px;
  line-height: 1.8em;
}


.introbook1{
  /* margin-left: 200px; */
  /* margin-right: 200px; */
  display: flex;
  margin: 20px auto;
  /* margin-top: 90px; */
  padding-top: 0px;
  margin-top: 60px;
  padding-bottom: 50px;
  max-width: 900px;
}

.introbook1img img{
  /* margin-left: 330px; */
  /* margin-top: 50px; */
  /* margin-right: 300px; */
}

.introbook1text h2{
  margin-right: 100px;
  margin-left: 100px;
  text-align: left;
}

.introbook2{
  /* margin-left: 200px; */
  /* margin-right: 200px; */
  display: flex;
  margin: 20px auto 0px;
  padding-top: 50px;
  padding-bottom: 120px;
  max-width: 900px;
}

.introbook2img img{
  margin-left: 200px;
  margin-top: 0px;
}

.introbook2text{
  /* margin-right: 100px; */
  margin-left: 100px;
}

.intro2book h2{
    font-family: "Rounded Mplus 1c";
    font-size: 22px;
    font-weight: 500;
    color: #4c4747;
    letter-spacing: 0.1rem;
    text-decoration: none;
    padding-top: 90px;
    text-align: center;
}

/* スマホ introduction2 */
@media (max-width: 767px) {
  .otanidiv{
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    /* margin-top: 50px; */
    padding-top: 110px;
    padding-bottom: 70px;
    margin-bottom: 0;
  }

  .otanileft{
    margin-right: 0;
  }

  .otaniname{
    font-size: 14px;
  }

  .otaniimg{
    text-align: center;
    margin-top: 20px;
  }

  .otaniimg img{
    width: 100%;
  }

  .nagayamadiv{
    padding-top: 55px;
    margin: 0px 15px 0px;
    flex-direction: column-reverse;
    padding-bottom: 70px;
  }

  .nagayamaright{
    margin-left: 0;
  }
  .nagayamaright h3{
    font-size: 14px;
  }
  .nagayamaimg{
    text-align: center;
  }
  .nagayamaimg img{
    width: 200px;
    height: auto;
    margin-top: 20px;
  }

  .intro2book h2{
    padding-top: 55px;
  }

  .introbook1{
    display: block;
    margin: 0 15px 0;
    margin-top: 30px;
  }

  .introbook1text h2{
    margin-right: 15px;
    margin-left: 15px;
  }

  .introbook1img{
    text-align: center;
  }

  .introbook1img img{
    margin-top: 20px;
  }

  .introbook1text{
    font-size: 14px;
  }
  .introbook2{
    flex-direction: column-reverse;
    margin: 0 15px 0;
    /* margin-top: 30px; */
    padding-top: 0;
    padding-bottom: 70px;
  }
  .introbook2img{
    text-align: center;
    margin-top: 20px;
  }

  .introbook2img img{
    margin-left: 0px;
  }
  .introbook2text{
    margin-left: 0px;
  }
  .introbook2text{
    font-size: 14px;
  }
  .introbook2text h2{
    margin-right: 15px;
    margin-left: 15px;
  }

  /* .intro2book h2{
    text-align: left;
    margin-left: 15px;
  } */





}

/* chilidren in peru--------------------- */

.comingsoon {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

/* スマホ peru.html */
@media (max-width: 767px) {
  .comingsoon{
    margin-right: 15px;
    margin-left: 15px;
  }
}


/* CONCERT ----------------*/
#concert {
  background-color: rgb(240,239,239);
}

#concert h2{
  text-align: center;
  margin-top: 90px;
  padding-top: 120px;
  font-family: "Rounded Mplus 1c";
  font-size: 22px;
  font-weight: 500;
  color: #4c4747;
  letter-spacing: 0.1rem;
  text-decoration: none;
}


#concert .h3_1{
  text-align: left;
  margin: 50px auto;
  /* width: 800px; */
  max-width: 800px;
}

/* スライドショー */
.slick{
    max-width: 800px;
    /* height: 500px; */
    /* position: absolute; */
    margin: auto;
    left: 0;
    top: 0;
}
.slick-track{
    /* height: 500px; */
}

.thumbnail{
  margin: auto;
  max-width: 800px;
  /* height: 250px; */
  left: 0;
  top: 0;
  margin-top: 30px;

}

.thumbnail .slick-current{
 opacity: 1;
}

.slick .slide1 img, .slick .slide2 img, .slick .slide3 img, .slick .slide4 img, .slick .slide5 img, .slick .slide6 img, .slick .slide7 img, .slick .slide8 img, .slick .slide9 img, .slick .slide10 img{
  background-size: cover;
  width: 100%;
  height: auto;
}


.thumbnail .slide1 img, .thumbnail .slide2 img, .thumbnail .slide3 img, .thumbnail .slide4 img, .thumbnail .slide5 img, .thumbnail .slide6 img, .thumbnail .slide7 img, .thumbnail .slide8 img, .thumbnail .slide9 img, .thumbnail .slide10 img{
  width: 128px;
}

.slide-arrow{
  position: absolute;
  top: 50%;
  margin-top: -20px;
}

.prev-arrow{
  left: -25px;
  width: 45px;
  height: auto;
  z-index: 1;
}

.next-arrow{
  right: -24px;
  width: 45px;
  height: auto;
}

/* .fas{
  font-size: 30px;
} */

.thumbnail .slick-slide:not(.slick-center) {
  -webkit-filter: opacity(70%);
  -moz-filter: opacity(70%);
  -o-filter: opacity(70%);
  -ms-filter: opacity(70%);
  filter: opacity(70%);
  transition: 0.2s linear;
}

#concert .h3_2{
  text-align: left;
  margin: 0px auto;
  max-width: 800px;
  margin-top: 30px;
  padding-bottom: 120px;
}

#concert .h3_2 a{
  color: orange;
}

/*スマホ concert.html  */
@media (max-width: 767px) {
  #concert h2{
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 55px;
    padding-top: 55px;
  }

  #concert .h3_1{
    margin: 20px auto 30px;
    /* width: 437px; */
    font-size: 14px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .slick{
    margin-right: 15px;
    margin-left: 15px;
  }

  .prev-arrow{
    left: -10px;
    width: 30px;
    height: auto;
    z-index: 1;
  }

  .next-arrow{
    right: -9px;
    width: 30px;
    height: auto;
  }


  .thumbnail .slide1 img, .thumbnail .slide2 img, .thumbnail .slide3 img, .thumbnail .slide4 img, .thumbnail .slide5 img, .thumbnail .slide6 img, .thumbnail .slide7 img, .thumbnail .slide8 img, .thumbnail .slide9 img, .thumbnail .slide10 img{
    width: 100%;
  }

  #concert .h3_2{
    font-size: 14px;
    margin-right: 15px;
    margin-left: 15px;
    padding-bottom: 70px;
  }


}


/* 映画 -------------------*/
#film {
  background-color: rgb(255,255,255);
  max-width: 800px;
  margin: 0 auto;
}

#film h2{
  text-align: center;
  /* margin-top: 90px; */
  padding-top: 120px;
  font-family: "Rounded Mplus 1c";
  font-size: 22px;
  font-weight: 500;
  color: #4c4747;
  letter-spacing: 0.1rem;
  text-decoration: none;


}

#film h3{
  text-align: left;
  margin: 50px auto;
  /* width: 900px; */
}

#film h3 a{
  color: orange;
}

.filmimgdiv{
  margin-bottom: 140px;
}

.filmimg{
  display: flex;
}

.filmimg img{
  width: auto;
  height: 140px;
}

.img1{
  position: relative;
  /* transform:translateX(400px); */
}

.img2{
  position: relative;
  /* left: 250px; */
}

.img3{
  position: relative;
  /* transform:translateX(700px); */
  /* transform: translateY(-195px); */
}

.img4{
  position: relative;
  /* transform:translateX(100px);
  transform: translateY(25px); */
  /* left: 900px; */
}

.filmimg2{
  display: flex;
  margin-left: 100px;
}

.filmimg2 img{
  width: auto;
  height: 140px;
}

.img5{
  position: relative;
  /* transform:translateX(100px);
  transform: translateY(200px); */
  /* left: 600px; */
}

.img6{
  position: relative;
  /* transform:translateX(50px);
  transform: translateY(205px); */
  /* left: 350px; */
}


.img7{
  position: relative;
  /* transform:translateX(100px);
  transform: translateY(200px); */
  /* left: 850px;
  margin-bottom: 120px; */
}

.filmimgdiv_resp{
  display: none;
}

@media (max-width: 767px) {
  #film{
    margin-right: 15px;
    margin-left: 15px;
  }
  #film h2{
    /* margin-right: 15px;
    margin-left: 15px; */
    padding-top: 55px;
  }

  #film h3{
    margin: 20px auto 0;
    /* margin-right: 15px;
    margin-left: 15px; */
    font-size: 14px;
  }

  .filmimgdiv{
    display: none;
  }

  .filmimgdiv_resp{
    display: block;
    margin-top: 30px;
    margin-bottom: 70px;
    width: 100%;
    margin: 30px auto 70px;
  }

  .filmimgdiv_resp img{
    width: 50%;
    height: auto;
  }
  .filmimg1_resp{
    text-align: center;
  }
  .img2, .img3{
    margin-top: 20px;
  }

  /* .filmgroup_resp{
    display: flex;
  } */
}


/* Action ----------------*/

#event{
  background-color: rgb(240,239,239);
}

.eventdiv{
  /* margin-left: 200px; */
  /* margin-right: 200px; */
  display: flex;
  margin: 20px auto;
  margin-top: 90px;
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 900px;
}

.eventleft{
  /* margin-left: 300px; */
  margin-right: 100px;
}

.eventleft h2{
    font-family: "Rounded Mplus 1c";
    font-size: 22px;
    font-weight: 500;
    color: #4c4747;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

.eventleft h3{
  margin-top: 20px;
  line-height: 1.8em;
}

.eventleft h3 a{
  color: orange;
}

.eventimg img{
  /* margin-right: 300px; */
  margin-top: 0px;
}

#charity{
  background-color: rgb(255, 255, 255);
}

.charitydiv{
  /* margin-left: 100px; */
  /* margin-right: 200px; */
  display: flex;
  margin: 0px auto;
  /* margin-top: 90px; */
  padding-top: 120px;
  padding-bottom: 70px;
  max-width: 900px;
}

.charityimg img{
  /* margin-le: ;ft: 300px; */
  margin-left: 100px;
  margin-top: 50px;
}

.charityright{
  /* margin-right: 100px; */
  margin-left: 100px;
}

.charityright h3{
  margin-top: 20px;
  line-height: 1.8em;
  text-align: left;
}

.charityright h2{
    font-family: "Rounded Mplus 1c";
    font-size: 22px;
    font-weight: 500;
    color: #4c4747;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

.charityright .type{
  margin-top: 5px;
  margin-left: 15px;

}

#book{
  background-color: rgb(240,239,239);
}

#book h1{
  font-family: "Rounded Mplus 1c";
  font-size: 22px;
  font-weight: 500;
  color: #4c4747;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-align: center;
  margin-top: 90px;
  padding-top: 120px;
}

.introtext h2{
  text-align: center;
  margin-top: 20px;
}

.book1{
  margin-right: 200px;
  display: flex;
  margin: 20px auto;
  padding-top: 0px;
  margin-top: 60px;
  padding-bottom: 50px;
  max-width: 900px;
}

.book1img img{
  /* margin-left: 330px; */
  margin-top: 50px;
  /* margin-right: 300px; */
}

.book1text h2{
  margin-right: 100px;
  /* margin-left: 300px; */
  text-align: left;
}

.book2{
  /* margin-left: 200px; */
  /* margin-right: 200px; */
  display: flex;
  margin: 20px auto;
  /* margin-top: 90px; */
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 900px;
}

.book2img img{
  margin-left: 150px;
  margin-top: 0px;
}

.book2text{
  /* margin-right: 100px; */
  margin-left: 100px;
}

.book3{
  /* margin-left: 200px;
  margin-right: 200px; */
  display: flex;
  margin: 20px auto;
  /* margin-top: 90px; */
  padding-top: 50px;
  padding-bottom: 30px;
  max-width: 900px;
}

.book3img img{
  /* margin-right: 300px; */
  margin-top: 0px;
  margin-left: 100px;
}

.book3text{
  /* margin-right: 90px; */
  margin-left: 150px;
}

.book4{
  display: flex;
  margin: 20px auto;
  padding-top: 50px;
  padding-bottom: 120px;
  max-width: 900px;
}

.book4img img{
  margin-left: 150px;
  margin-top: 0px;
}

.book4text{
  margin-left: 100px;
}

#volunteer{
  background-color: rgb(255, 255, 255);
}

.voldiv{
  display: flex;
  margin: 20px auto;
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 900px;
}

.volimg img{
  margin-top: 50px;
}

.volright{
  margin-left: 100px;
}

.volright h3{
  margin-top: 20px;
  line-height: 1.8em;
}

.volright h2{
    font-family: "Rounded Mplus 1c";
    font-size: 22px;
    font-weight: 500;
    color: #4c4747;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

.volright h3 a{
  color: orange;
}

/* スマホ　join.html */
@media (max-width: 767px) {
  .eventdiv{
    margin-top: 55px;
    padding-top: 55px;
    display: block;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 70px;
    margin-bottom: 0px;
  }
  .eventleft{
    margin-right: 0px;
  }
  .eventleft h3{
    font-size: 14px;
  }
  .eventimg{
    text-align: center;
  }
  .eventimg img{
    margin-top: 30px;
  }

  .charitydiv{
    flex-direction: column-reverse;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 55px;
    padding-bottom: 70px;
  }
  .charityright{
    margin-left: 0px;
  }

  .charityright h3{
    font-size: 14px;
  }
  .charityimg img{
    margin-left: 0px;
    margin-top: 30px;
  }
  .charityimg{
    text-align: center;
  }

  #book h1{
    padding-top: 55px;
    margin-top: 0px;
  }
  .introtext h2{
    font-size: 14px;
  }
  .book1{
    margin-right: 0px;
    display: block;
    margin-top: 30px;
    padding-bottom: 55px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
  }
  .book1text h2, .book3text h2, .book2text h2, .book4text{
    margin-right: 0px;
    font-size: 14px;
  }
  .book3text, .book2text, .book4text{
    margin-left: 0;
  }
  .book1img img, .book3img img, .book2img img, .book4img img{
    margin-top: 30px;
    margin-left: 0;
  }
  .book1img, .book3img, .book2img, .book4img{
    text-align: center;
  }

  .book2{
    flex-direction: column-reverse;
    margin: 0 15px 55px 15px;
    padding-top: 0;
    padding-bottom: 0;

  }
  .book3{
    margin-right: 0px;
    display: block;
    margin-top: 30px;
    padding-bottom: 55px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
    padding-top: 0;
  }
  .book4{
    flex-direction: column-reverse;
    margin: 0 15px 70px 15px;
    padding-top: 0;
    padding-bottom: 0;

  }

  .voldiv{
    flex-direction: column-reverse;
    margin: 0px 15px 70px;
    padding-top: 55px;
    padding-bottom: 0px;
  }

  .volright{
    margin-left: 0px;
  }
  .volright h3{
    font-size: 14px;
  }
  .volimg img{
    margin-top: 30px;
  }
  .volimg{
    text-align: center;
  }

}

/* NEWS ----------------*/
#news {
  background-color: #fff;
  margin-bottom: 140px;
}

#news h2{
  text-align: center;
  /* margin-top: 90px; */
  padding-top: 110px;
  font-family: "Rounded Mplus 1c";
  font-size: 22px;
  font-weight: 500;
  color: #4c4747;
  letter-spacing: 0.1rem;
  text-decoration: none;
}


#news .newscontent{
  text-align: left;
  margin: 50px auto 70px;
  max-width: 800px;
}

.date{
  padding-left: 10px;
  background-color: #649564;
  border-radius: 1rem;
  color: #fff;
  width: 80px;
  font-size: 0.9em;
  margin-bottom: 20px;
}

.newscontent h3{
  font-size: 20px;
  margin-bottom: 40px;
}

.newscontent img{
  max-width: 600px;
  height: auto;

}
.newscontent h4{
  margin-top: 40px;
}

.newsimg{
  text-align: center;
}


hr {
   margin-top: 50px;
   margin-right: 250px;
   margin-left: 250px;
   border: 1px solid #eee;
   margin-bottom: 40px;
}

/* スマホ news.html */
@media (max-width: 767px) {
  #news{
    margin-bottom: 0px;
  }
  #news .newscontent{
    margin: 50px 15px 70px;
  }
  .newscontent h3{
    font-size: 18px;
    margin-bottom: 30px;
  }
  .newscontent img{
    width:100%;

  }
  .newscontent h4{
    margin-top: 30px;
    font-size: 14px;
  }

}

/* CONCERT2 Archives ----------------*/
#concert2 {
  background-color: #fff;
  margin-bottom: 140px;
}

#concert2 h2{
  text-align: center;
  /* margin-top: 90px; */
  padding-top: 110px;
  font-family: "Rounded Mplus 1c";
  font-size: 22px;
  font-weight: 500;
  color: #4c4747;
  letter-spacing: 0.1rem;
  text-decoration: none;
}


#concert2 .concert2content{
  text-align: left;
  margin: 50px auto 70px;
  max-width: 800px;
}

.year{
  /* padding-left: 10px; */
  /* color: #fff; */
  font-size: 0.9em;
  margin-bottom: 50px;
}

.new{
  border-bottom: 1px solid orange;
}

.year a:hover, .new a:active{
    color: orange;
    text-decoration: none;
}

/* .old a:hover, .new a:active{
  color:#ccc;
} */

/* .old a{
  border-bottom: 0px solid #ccc;
} */

/* .old a:hover, .old a:active{
  color:#ccc;
  text-decoration: none;

} */
.concert2content .pdf{
  color: orange;
}

.concert2content h3{
  font-size: 20px;
  margin-bottom: 40px;
}

.concert2content img{
  /* width: 150px;
  height: auto; */
  /* text-align: center; */
  /* display: flex; */
  justify-content: space-between;
  /* margin-right: 10px; */
  margin-left: 25px;
  margin-bottom: 25px;
  width: 160px;
  height: 160px;
  object-fit: cover;
}

.concert2content .vertical img{
  width: 200px;
  height: auto;
  /* text-align: center; */
  /* display: flex; */
  justify-content: space-between;
  margin-right: 10px;
  margin-bottom: 10px;
}

.concert2content h4{
  margin-top: 25px;
}

hr {
   margin-top: 50px;
   /* margin-right: 250px; */
   /* margin-left: 250px; */
   width: 900px;
   margin: 0 auto 40px;
   border: 1px solid #eee;
   /* margin-bottom: 40px; */
}

@media (max-width: 767px) {
  #concert2{
    margin-bottom: 70px;
  }

  #concert2 .concert2content{
    margin: 20px 15px 70px;
    /* margin-right: 15px;
    margin-left: 15px; */
  }

  .concert2content h3{
    font-size: 18px;
    margin-bottom: 30px;
  }

  .concert2content img{
    margin-left: 15px;
    margin-bottom: 15px;
    width: 140px;
    height: 140px;
  }

  .concert2content h4{
    margin-top: 10px;
    font-size: 14px;
  }



}

/* ドロップダウンメニュー-------------------- */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #fff;
  z-index: 200;
}
ul.menu li {
	/* float: left; */
	position: relative;
	margin: 0 0 0 0px;
	/* padding: 5px; */
	/* width: 100px; */
	/* background-color: #fff; */
	display: block;
  cursor: pointer;

}
ul.sub {
	display: none;
	position: absolute;
  margin-left: -14px;
  padding-top: 22px;
  width: 185px;
	/* padding: 0; */
  background-color: #fff;

}
li.subconcert ul.sub{
  width: 140px;
}

li.subconcert2 ul.sub{
  width: 140px;
}

li.subconcert2 a{
  color: orange;
}

ul.sub li a {
	padding: 10px 5px 10px 15px;
	/* margin-left: -5px; */
	/* margin-right: -5px; */
  /* width: 100px; */
	margin-bottom: -5px;
	display: block;
	color: #4c4747;
  font-size: 12px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #fff;


}
ul.sub li a:hover {
	background: #FFA502;
	text-decoration:none;
}
