body{
    font-size: 14px;
    line-height: 1.6;
    font-weight: normal;
    color: #000;
    font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    background-color: #fff;
}

/* a:link, a:visited{
    color:#999;
    text-decoration: none;
} */

a:hover, a:active{
    color: #ccc;
    text-decoration: none;
}

a:hover img, a:active img{
  text-decoration: none;
	opacity: 0.7;
}


/* header */
header{
  width: 100%;
  height: 100px;
  position: relative; /* 相対配置 親の基点 */
  opacity: 1;
}

header h1{
    width: 230px;
    height: 50px;
    background-color: #FFF;
    margin: 50px auto 20px;
    transform: translateX(-20px);
    padding: 0 1px;
    font-family: "Rounded Mplus 1c";
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    padding-bottom: 2px;
    transform: translate(20px);
}

header h1 a{
  text-decoration: none;
  color: #4c4747;
}

header nav{
  width: 100%;
  height: 64px;
  /* position: relative;
  top: 15px;
  left: 0; */
  /* bottom: 0; */
  background-color: rgba(255,255,255,0.8);
  /* transform: translateY(64px); */
}

/* header nav .container{
    width: 1140px;
    height: 64px;
    margin: 0 auto;
    display: flex;

} */

header nav ul{
    width: 840px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

header nav ul li a{
  display: block; /* リンク領域を広げる */
  /* height: 64px; */
  /* line-height: 4.4; */
  padding: 0 1px;
  font-family: "Rounded Mplus 1c";
  font-size: 16px;
  font-weight: 500;
  color: #4c4747;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

header nav ul li a:hover img{
    opacity: 0.2;
}

/* header nav ul a:active{
    opacity: 0.2;
} */

/* a:link, a:visited{
  color:#000;
  text-decoration: none;
}

a:hover, a:active{
  color:#827f7f;
  text-decoration: none;
} */

.fabfa-facebook{
  width: 10px;
  height: 10px;
}

.main{
  position: relative;
}

#top{
    width: 100%;
    padding: 30px 0;
    text-align: center;
    z-index: 1;

    /* background-color: #f4f4f4; */
}


#top h2 .slider{
    width: 1000px;
    height: 500px;
    margin: auto;
    left: 0;
    top: 0;
}
.slick-track{
    height: 500px;
}
/* .slide1{
    background: url(../img/home_pachamama.png) center center no-repeat;
    background-size: cover;
}
.slide2{
    background: url(../img/home_children.png) center center no-repeat;
    background-size: cover;
}
.slide3{
    background: url(../img/home_concert.png) center center no-repeat;
    background-size: cover;
} */

#button h3{
    position: absolute;
    top: 450px;
    left: 950px;
}

/* ドロップダウンメニュー-------------------- */

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #fff;
  z-index: 10;
}
ul.menu li {
	/* float: left; */
	position: relative;
	margin: 0 0 0 1px;
	/* padding: 5px; */
	/* width: 100px; */
	background-color: #fff;
	display: block;
  cursor: pointer;

}
ul.sub {
	display: none;
	position: absolute;
	margin-left: -14px;
  padding-top: 10px;
  width: 190px;
	/* padding: 0; */
}

li.subconcert ul.sub{
  width: 150px;
}

ul.sub li a {
	padding: 11px 5px 11px 15px;
	/* margin-left: -5px; */
	/* margin-right: -5px; */
  /* width: 100px; */
	margin-bottom: -5px;
	display: block;
	color: #4c4747;
  font-size: 13px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 0px;
}


ul.sub li a:hover {
	background: #FFA502;
	text-decoration:none;
}


/* header nav ul li{
    display: flex;
    justify-content: space-between;
    margin: auto;
} */

/* li.introduction {
    width: 400px;
} */


/* news box---------------------- */
.newsbox{
  position: relative;
  width: 350px;
  height: 80px;
  background-color: #fff;
  z-index: 20;
  /* text-align: left; */
  /* left: 225px; */
  /* margin-bottom: 150px; */
  bottom: 140px;
  padding: 13px;
  opacity: 0.8;
  /* margin-left: 100px; */
  margin: 0 auto;
  transform: translateX(-300px);

}


.newsbox h3{
  font-size: 14px;
  margin-bottom: 5px;
  text-decoration: underline solid #4c4747;
}

.newsbox p{
  font-size: 11px;
  margin-top: 8px;
  text-decoration: none;

}

.newsbox a{
  color: #000;
  text-decoration: none;
}

.newsbox a:hover, .newsbox a:active{
    color: #ccc;
    text-decoration: none;
}
